/************ Footer Css ************/
.footer {
	padding: 5vh 0;
	background-image: url('/src/assets/img/backgrounds/bg-horizontal.jpeg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer img {
	width: 26%;
}

.footer p {
	font-weight: 400;
	font-size: 14px;
	color: #B8B8B8;
	letter-spacing: 0.5px;
	margin-top: 20px;
}

.brand-name {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 1.2em;
	font-family: 'Centra', sans-serif;
}

.hidden {
	display: none;
}